<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-YM7R3WBHX9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-YM7R3WBHX9');
  </script>
<!-- head -->
{{> head }}

<!-- Yeah i know js should not be in header. Its required for demos.-->

<!-- javascript -->
{{> javascripts }}

	
  <meta name="description" content="Trackflaw est une startup spécialisée dans la sécurité offensive et particulièrement dans le domaine des tests d'intrusion.">
</head>
<body>
<!-- header -->
{{> header }}

<!-- title -->
{{> title }}

<!--  Demos -->
<section id="demos">
	<div class="row">
		<div class="large-12 columns">
			{{> body }}
		</div>
	</div>
</section>

<!-- footer -->
{{> footer }}

	<!-- vendors -->
{{> vendors }}

</body>
</html>