<!DOCTYPE html>
<html lang="en">
<head>
<!-- head -->
{{> head }}

<!-- Yeah i know js should not be in header. Its required for demos.-->

<!-- javascript -->
{{> javascripts }}
  <meta name="description" content="Trackflaw est une startup spécialisée dans la sécurité offensive et particulièrement dans le domaine des tests d'intrusion.">
</head>
<body>
<!-- header -->
{{> header }}

<!-- home panel -->
{{> home-hero }}

<!-- body -->
{{> home-carousel }}

<!-- features -->
{{> home-features }}

<!-- footer -->
{{> home-teaser-text }}

<!-- footer -->
{{> footer }}

<!-- vendors -->
{{> vendors }}
		
</body>
</html>